.login{
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8b25saW5lJTIwc2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.login-title{
  padding-top: 5%;
}
.login-title h2{
  text-align: center;
  color: red;
  padding-bottom: 3%;
}
.col-login-input p{
  text-align: left;
  color: rgb(255 255 255);
  font-family: "Roboto", sans-serif;
  padding-left: 13%;
  padding-top: 4%;
  padding-bottom: 4px;
}
.row-login{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.col-login-input{
  width: 70%;
  display: inline-block;
  margin-left: 5%;
}
.col-login-input label{
  font-family: "Roboto", sans-serif;
  color: white;
}
.col-login-input input{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	-webkit-transition: all 0.30s ease-in-out;
	outline: none;	
  background: rgb(139, 139, 139);
  width: 70%;
  height: 33px;
  padding-left: 2%;
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
.col-login-input input:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.col-login-input button {
  width: 60%;
  height: 35px;
  color: white;
  background: blue;
  opacity: 0.9;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 3%;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  outline: none;
  margin-left: 5%;
}
.col-login-input button:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.col-login-input button:hover {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.showPassword{
  display: inline-flex;
  width: 37%;
  color: white;
}
.showPassword label{
  text-align: left;
  display: contents;
}

.col-login-input a{
  text-decoration: none;
  color: blue;
}
.col-login-input a:hover{
  text-decoration: none;
  color: silver;
}
.col-login-img{
  width: 60%;
}
.col-login-img img{
  width: 90%;
}
@media(max-width:700px){
  .row-login{
    width: 90%;
  }
  .col-login-img{
    display: none;
  }
  .col-login-input input[type="email"]{
    width: 70%;
      }
  .col-login-input{
    width: 130%;
    margin-left: 24%;
  }
  .col-login-input p{
    padding-left: 26px;
  }
}